body {
    color: white;
}

.button-row {
    display: flex;
    height: 32px;
    margin: 8px 8px;
}

.button {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0px 2px;
    border: 1px solid black;
}

#fireable-multi-liquify {
    background: url('../assets/images/multi-liquify.png');
    background-size: 100%;
    background-position: center center;
}