body {
    color: white;
}

.button-row {
    display: flex;
    height: 32px;
    margin: 8px 8px;
}

.button {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0px 2px;
    border: 1px solid black;
}

#modal-multi-liquify {
    background: url('../assets/images/multi-liquify.png');
    background-size: 100%;
    background-position: center center;
}

#modal-pack-and-liquify {
    background: url('../assets/images/pack-and-liquify.png');
    background-size: 100%;
    background-position: center center;
}

#modal-liquify-layer-trees {
    background: url('../assets/images/liquify-layer-trees.png');
    background-size: 100%;
    background-position: center center;
}

#modal-clipping-stack-to-group {
    background: url('../assets/images/clipping-stack-to-group.png');
    background-size: 100%;
    background-position: center center;
}

#modal-add-to-upstream-masks {
    background: url('../assets/images/add-to-upstream-masks.png');
    background-size: 100%;
    background-position: center center;
}